@import "bourbon"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

::-webkit-scrollbar 
    width: 10px

::-webkit-scrollbar-track 
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,  0.3)
    
::-webkit-scrollbar-thumb 
    border-radius: 0px
    background: $main
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)
::-webkit-scrollbar-thumb:window-inactive 
  background: $main

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden

a,button,input,textarea,i
	text-decoration: none
	outline: 0
	border: 0
	transition color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease
	&:focus
		outline: 0
		border: 0

input,textarea
	box-sizing: border-box

textarea
	resize: none

button
	&:hover
		cursor: pointer

.hidden
	display: none

.bar-long
	height: 5px
	width: 0
	z-index: 1000
	position: fixed
	top: 0
	left: 0
	background: $main